---
---
@charset "utf-8";

// Configuration
$base-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$base-font-size: 1em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 2em;

// Import partials
@import
	"base",
	"layout",
	"syntax-highlighting"
;
