<core-header-panel drawer navigation flex mode="{{ page.drawer.mode }}">
	<core-toolbar>
		<a class="site-title" href="{{ site.locales[page.lang].homeurl | prepend: site.baseurl }}/" title="{% if site.locales[page.lang].title %}{{ site.locales[page.lang].title }}{% else %}{{ site.title }}{% endif %}">
			{% if site.locales[page.lang].title %}
				{{ site.locales[page.lang].title }}
			{% else %}
				{{ site.title }}
			{% endif %}
		</a>
	</core-toolbar>
	<core-menu>
		{% assign sorted_pages = (site.pages | where: 'nav', true | where: 'lang', page.lang | sort: 'position') %}
		{% for p in sorted_pages %}
			{% if page.title %}
				<a class="page-link{% if page.title == p.title %} current{% endif %}" href="{{ p.url | prepend: site.baseurl }}" title="{{ p.title }}">
					<paper-item>
						{{ p.title }}
					</paper-item>
				</a>
			{% endif %}
		{% endfor %}
	</core-menu>
</core-header-panel>
