<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% if page.title %}
			{{ page.title }} -
		{% endif %}
		{% if site.locales[page.lang].title %}
			{{ site.locales[page.lang].title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>
	<meta name="description" content="{% if site.locales[page.lang].description %}{{ site.locales[page.lang].description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="generator" content="Jekyll v{{ jekyll.version }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% assign lang_pages = (site.pages | where: 'label', page.label | sort: 'lang') %}
	{% for p in lang_pages %}
		{% if p.label and p.lang != page.lang %}
			<link rel="alternate" href="{{ p.url | prepend: site.baseurl }}" hreflang="{{ p.lang }}" />
		{% endif %}
	{% endfor %}
	{% assign lang_posts = (site.posts | where: 'label', page.label | sort: 'lang') %}
	{% for p in lang_posts %}
		{% if p.label and p.lang != page.lang %}
			<link rel="alternate" href="{{ p.url | prepend: site.baseurl }}" hreflang="{{ p.lang }}" />
		{% endif %}
	{% endfor %}
	{% assign rss_pages = (site.pages | where: 'layout', 'feed' | where: 'lang', page.lang | sort: 'categories') %}
	{% for p in rss_pages %}
		<link rel="alternate" type="application/rss+xml" title="{{ p.title }}" href="{{ p.url | prepend: site.baseurl | prepend: site.url }}" />
	{% endfor %}
</head>
