// Reset basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

// Basic styling
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 300;
	-webkit-text-size-adjust: 100%;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}

// Images
img {
	max-width: 100%;
	vertical-align: middle;
}

// Figures
figure > img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}

// Lists
ul, ol {
	margin-left: $spacing-unit;
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

// Links
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
