// Header
core-toolbar {
	line-height: 1em;
}

// Menus
core-menu {
	margin: 0;
}

// Page content
.page-content {
	margin: 0 auto;
	padding: $spacing-unit * 0.1;
	max-width: $spacing-unit * 17;

	@include media-query($on-laptop) {
		font-size: $base-font-size * 1.2;
	}
}

// Heading
h1 {
	font-size: $base-font-size * 1.6;
	text-align: center;
}
h2 { font-size: $base-font-size * 1.5; }
h3 { font-size: $base-font-size * 1.4; }
h4 { font-size: $base-font-size * 1.3; }
h5 { font-size: $base-font-size * 1.2; }
h6 { font-size: $base-font-size * 1.1; }

// Code blocks
.highlight {
	padding: $spacing-unit * 0.4 $spacing-unit * 0.6 $spacing-unit / 12;
	border-radius: $spacing-unit / 12;
	margin: $spacing-unit / 12;
	word-wrap: break-word;
}

// Notes
paper-shadow {
	padding: $spacing-unit * 0.4 $spacing-unit * 0.6 $spacing-unit / 12;
	border-radius: $spacing-unit / 12;
	margin: $spacing-unit / 12;
}

// Links
a, a:hover, a:active {
	text-decoration: none;
}
