// Navigation
nav {
	a {
		margin: 0 $spacing-unit / 12;
	}
}

// Code blocks
.highlight {
	padding: $spacing-unit * 0.4 $spacing-unit * 0.6 $spacing-unit / 12;
	border-radius: $spacing-unit / 12;
	margin: $spacing-unit / 12;
}
