// Colors
$black: #000;
$red: #a00;
$grey-lighter: #aaa;
$grey-light: #999;
$grey: #888;
$grey-dark: #555;
$pink-lighter: #fdd;
$pink-light: #faa;
$green-lighter: #dfd;
$green-light: #afa;

// Monokai colors
$monokai-grey-dark: #1a1b19;
$monokai-white: #f8f8f2;
$monokai-brown-light: #75715e;
$monokai-pink-vivid: #960050;
$monokai-pink-vivid-alt: #f92672;
$monokai-purple-dark: #1e0010;
$monokai-blue-light: #66d9ef;
$monokai-purple-light: #ae81ff;
$monokai-yellow-light: #e6db74;
$monokai-green-vivid: #a6e22e;

// Syntax highlighting styles
.highlight {
	background-color: $monokai-grey-dark!important;
	color: $monokai-white;

	.c     { color: $monokai-brown-light; font-style: italic } // Comment
	.err   { color: $monokai-pink-vivid; background-color: $monokai-purple-dark } // Error
	.k     { color: $monokai-blue-light; font-weight: bold } // Keyword
	.l     { color: $monokai-purple-light; font-weight: bold } // Literal
	.n     { color: $monokai-white; font-weight: bold } // Name
	.o     { color: $monokai-pink-vivid-alt; font-weight: bold } // Operator
	.p     { color: $monokai-white; font-weight: bold } // Punctuation
	.cm    { color: $monokai-brown-light; font-style: italic } // Comment.Multiline
	.cp    { color: $monokai-brown-light; font-weight: bold } // Comment.Preproc
	.c1    { color: $monokai-brown-light; font-style: italic } // Comment.Single
	.cs    { color: $monokai-brown-light; font-weight: bold; font-style: italic } // Comment.Special
	.gd    { color: $black; background-color: $pink-lighter } // Generic.Deleted
	.gd .x { color: $black; background-color: $pink-light } // Generic.Deleted.Specific
	.ge    { font-style: italic } // Generic.Emph
	.gr    { color: $red } // Generic.Error
	.gh    { color: $grey-light } // Generic.Heading
	.gi    { color: $black; background-color: $green-lighter } // Generic.Inserted
	.gi .x { color: $black; background-color: $green-light } // Generic.Inserted.Specific
	.go    { color: $grey } // Generic.Output
	.gp    { color: $grey-dark } // Generic.Prompt
	.gs    { font-weight: bold } // Generic.Strong
	.gu    { color: $grey-lighter } // Generic.Subheading
	.gt    { color: $red } // Generic.Traceback
	.kc    { color: $monokai-blue-light; font-weight: bold } // Keyword.Constant
	.kd    { color: $monokai-blue-light; font-weight: bold } // Keyword.Declaration
	.kn    { color: $monokai-pink-vivid-alt; font-weight: bold } // Keyword.Namespace
	.kp    { color: $monokai-blue-light; font-weight: bold } // Keyword.Pseudo
	.kr    { color: $monokai-blue-light; font-weight: bold } // Keyword.Reserved
	.kt    { color: $monokai-blue-light; font-weight: bold } // Keyword.Type
	.ld    { color: $monokai-yellow-light } // Literal.Date
	.m     { color: $monokai-purple-light } // Literal.Number
	.s     { color: $monokai-yellow-light } // Literal.String
	.na    { color: $monokai-green-vivid } // Name.Attribute
	.nb    { color: $monokai-white } // Name.Builtin
	.nc    { color: $monokai-green-vivid; font-weight: bold } // Name.Class
	.no    { color: $monokai-blue-light } // Name.Constant
	.nd    { color: $monokai-green-vivid } // Name.Decorator
	.ni    { color: $monokai-white } // Name.Entity
	.ne    { color: $monokai-green-vivid; font-weight: bold } // Name.Exception
	.nf    { color: $monokai-green-vivid; font-weight: bold } // Name.Function
	.nl    { color: $monokai-white } // Name.Label
	.nn    { color: $monokai-white } // Name.Namespace
	.nx    { color: $monokai-green-vivid } // Name.Other
	.py    { color: $monokai-white } // Name.Property
	.nt    { color: $monokai-pink-vivid-alt } // Name.Tag
	.nv    { color: $monokai-white } // Name.Variable
	.ow    { color: $monokai-pink-vivid-alt; font-weight: bold } // Operator.Word
	.w     { color: $monokai-white } // Text.Whitespace
	.mf    { color: $monokai-purple-light } // Literal.Number.Float
	.mh    { color: $monokai-purple-light } // Literal.Number.Hex
	.mi    { color: $monokai-purple-light } // Literal.Number.Integer
	.mo    { color: $monokai-purple-light } // Literal.Number.Oct
	.sb    { color: $monokai-yellow-light } // Literal.String.Backtick
	.sc    { color: $monokai-yellow-light } // Literal.String.Char
	.sd    { color: $monokai-yellow-light } // Literal.String.Doc
	.s2    { color: $monokai-yellow-light } // Literal.String.Double
	.se    { color: $monokai-purple-light } // Literal.String.Escape
	.sh    { color: $monokai-yellow-light } // Literal.String.Heredoc
	.si    { color: $monokai-yellow-light } // Literal.String.Interpol
	.sx    { color: $monokai-yellow-light } // Literal.String.Other
	.sr    { color: $monokai-yellow-light } // Literal.String.Regex
	.s1    { color: $monokai-yellow-light } // Literal.String.Single
	.ss    { color: $monokai-yellow-light } // Literal.String.Symbol
	.bp    { color: $monokai-white } // Name.Builtin.Pseudo
	.vc    { color: $monokai-white } // Name.Variable.Class
	.vg    { color: $monokai-white } // Name.Variable.Global
	.vi    { color: $monokai-white } // Name.Variable.Instance
	.il    { color: $monokai-purple-light } // Literal.Number.Integer.Long
}
