---
layout: default
---
<div class="collection">
	<h1 class="page-heading">{{ page.title }}</h1>
	{{ content }}
	<ul class="post-list">
		{% assign lang_posts = (site.posts | where: 'lang', page.lang) %}
		{% for post in lang_posts %}
			{% unless page.categories and post.categories != page.categories %}
				<li>
					{% capture complete_date_format %}{{ site.locales[page.lang].date.complete_format }}{% endcapture %}
					<span class="post-meta">{% include date.html date=post.date format=complete_date_format capitalize=true %}</span>
					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
					</h2>
				</li>
			{% endunless %}
		{% endfor %}
	</ul>
</div>
