---
layout: compress
---
<!DOCTYPE html>
<html{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
{% include head.html %}
<body>
	{% include header.html %}
	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>
