---
layout: compress
---
<!DOCTYPE html>
<html{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
{% include head.html %}
<body unresolved class="{% include color.html %}">
	<core-drawer-panel>
		{% include drawer.html %}
		<core-header-panel main mode="{{ page.header.mode }}">
			{% include header.html %}
			<div class="content">
				<div class="page-content wrapper">
					{{ content }}
				</div>
				{% include footer.html %}
			</div>
		</core-header-panel>
	</core-drawer-panel>
</body>
</html>
