---
layout: default
---
<div class="home">
	<h1 class="page-heading">Posts</h1>
	<ul class="post-list">
		{% assign lang_posts = (site.posts | where: 'lang', page.lang) %}
		{% for post in lang_posts %}
			<li>
				{% capture complete_date_format %}{{ site.locales[page.lang].date.complete_format }}{% endcapture %}
				<span class="post-meta">{% include date.html date=post.date format=complete_date_format capitalize=true %}</span>
				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
				</h2>
			</li>
		{% endfor %}
	</ul>
	{% assign rss_pages = (site.pages | where: 'layout', 'feed' | where: 'lang', page.lang | sort: 'categories') %}
	{% for page in rss_pages limit:1 %}
		<p class="rss-subscribe"><a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ site.locales[page.lang].rss_subscribe }}</a></p>
	{% endfor %}
</div>
